/* Slider Styles */
#slider{
	position: relative;
	min-height: 20em;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
.visible{
	opacity: 1;
	z-index: 2;
}
/* Floor Fade For Readability of Text And Postioning for Text Overlay */
.slide h1{
  width: 97.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.8));
  position: absolute;
  padding-left: 2.5%;
  margin: 0px;
  bottom: 0px;
}
.slide img{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
