body {
    background-color: #303030;
}
/* alignment stuff */
.center-text {
    text-align: center;
}
.center-element {
    margin: auto;
}
/* Other Stuff */
._card {
    min-height: 5em;
    width: 100%;
}
._grid {
    padding: 0px;
}
.full-width {
    width: 100%;
}
img {
    font-size: xx-small;
}
* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}
/* ScrollBar Styles */
::-webkit-scrollbar {
    width: 0.75em;
}
::-webkit-scrollbar-track {
    background-color: #212121;
}
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}
#userHeader {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
#userActions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
